Debug/
ipch/
openssl-password-manager.opensdf
openssl-password-manager.sdf
openssl-password-manager.v11.suo
openssl-password-manager/Debug
openssl-password-manager/openssl-password-manager.vcxproj.filters
openssl-password-manager/openssl-password-manager.vcxproj.user
openssl-password-manager/ReadMe.txt
openssl-password-manager/secureduserdata.dat
